@font-face {
    font-family: 'Helvetica Now Display';
    src:url('../fonts/HelveticaNowDisplay-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica Now Display';
    src:url('../fonts/HelveticaNowDisplay-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica Now Display';
    src:url('../fonts/HelveticaNowDisplay-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica Now Display';
    src:url('../fonts/HelveticaNowDisplay-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Now Display';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
    color: #545460;
}

.body {
 background-color: #E5E5E5;
 margin: 0 auto;
 width: 1950px;
 height: auto;
}

.container {
    max-width: 1920px;
    height: auto;
    background: #00ffff;
    margin: 5px auto;

    &__size {
        max-width: 100%;
        background-color: #020213;
        margin: 0 auto;
        padding-top: 24px; 
    }

    &__size2 {
        max-width: 100%;
        background-color: #020213;
        margin: 0 auto;
        padding-top: 90px;
    }

    &__size3 {
        max-width: 100%;
        background-color: #ffffff;
        margin: 0 auto;
        padding-top: 100px;
    }

    &__size4 {
        max-width: 100%;
        background-color: #D5D4D9;
        margin: 0 auto;
        padding-top: 100px;
    }

    &__size5 {
        max-width: 100%;
        background-color: #AEA9A8;
        margin: 0 auto;
        padding-top: 100px; 
    }

    &__size6 {
        max-width: 100%;
        background-color: #001427;
        margin: 0 auto;
        padding-top: 100px; 
    }
}

@import 'components/header.scss';

@import 'components/job.scss';

@import 'components/pictures.scss';

@import 'components/company.scss';

@import 'components/recruitment.scss';

@import 'components/candidate.scss';

@import 'components/vacancy.scss';